{% extends 'rumors/base.html' %} {% block content%}

<h1>Posts</h1>
<div>
    {% for post in community.post_set.all %} 


    <h2>{{post.title}}</h2>


{% endfor %}

</div>



{% if perms.rumors.add_post %}



{% else $}
<div align="right">
    
    <form id="button-form">
        {% csrf_token %}
        <button type="submit"> Join Community </button>
    </form>
   
     
            <script>
                $("#button-form").submit(function(){
                    var modelId = "{{community.pk}}";
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'rumors-button' %}",
                        data:  modelId
                    })
                })
            </script>
   

    
</div> 
{% endif %}

{% endblock content %}
